<template name="addItem">
  <form class="new-food">

    Food Name: 
    <br>
    <input type="text" name="name" />
    <br>

    Description: 
    <br>  
    <input type="text" name="description" />
    <br> 

    Price:
    <br>
    <input type="text" name="price" />
    <br> 

    Vegetarian: 
    <br>

    <input type="checkbox" id = "vegetarian" name="vegetarian"   > vegetarian <br>
    <input type="checkbox" id = "vegetarian" name="halal"  > halal <br>

    Category:
    <br>
    <select name="category">
      <option value="appetizer">appetizer</option>
      <option value="main dish">main dish</option>
      <option value="drink">drink</option>
      <option value="desert">desert</option>
    </select>
    <br>    

    <br>
    <br>

    <input type="submit" value="Submit">

  </form>
</template>

