<template name="addItem">
  <form class="new-food">
    <h1>
      <p class="text-center">Add New Menu Item </p>
    </h1>
    <div class="form-group">
      <input name="name" class="form-control"
      id="inputFoodName" placeholder="Food Name">
    </div>

    <div class="form-group">
      <input name="description" class="form-control"
      id="inputDescription" placeholder="Description">
    </div>

    <div class="form-group">
      <input name="price" class="form-control"
      id="inputPrice" placeholder="Price">
    </div>


    <div class="checkbox">
       <label>
         <input type="checkbox" id = "Vegetarian" name="vegetarian"   > vegetarian
       </label>
     </div>

     <div class="checkbox">
        <label>
          <input type="checkbox" id = "Vegetarian" name="halal"  > halal <br>
        </label>
      </div>

     <!--
    Vegetarian:
    <br>

    <input type="checkbox" id = "vegetarian" name="vegetarian"   > vegetarian <br>
    <input type="checkbox" id = "vegetarian" name="halal"  > halal <br>
  -->
<!--
    Category:
    <br>
    <select name="category">
      <option value="appetizer">appetizer</option>
      <option value="main dish">main dish</option>
      <option value="drink">drink</option>
      <option value="desert">desert</option>
    </select>
    <br>
  -->


    <br>
    <br>

    <input type="submit" value="Submit">

  </form>
</template>
