<template name="addItem">
  <h1>We are now at the Add Item screen!</h1>
  {{test}}
  <h1>Still need option to upload pictures</h1>

  <form class="new-food">

    Food Name: 
    <br>
    <input type="text" name="name" />
    <br>

    Description: 
    <br>  
    <input type="text" name="description" />
    <br> 

    Price:
    <br>
    <input type="text" name="price" />
    <br> 

    Filter: 
    <br>
    <input type="text" name="filter" placeholder="vegetarian, halal, spicy, etc." />
    <br>

    Category:
    <br>
    <select name="category">
      <option value="appetizer">appetizer</option>
      <option value="main dish">main dish</option>
      <option value="drink">drink</option>
      <option value="desert">desert</option>
    </select>
    <br>    

    <br>
    <br>

    <input type="submit" value="Submit">

  </form>
</template>
