<template name="details">
	<a href={{backButton}}>BACK</a>
	<h1>{{name}}</h1>
	<img src={{image}} />
	<div>
	</div>
	<div>
		{{rating}}
	</div>
	<div>
		{{price}}
	</div>
	<div>
		{{category}}
	</div>
	<div>
		{{description}}
	</div>
	<div class="displayComments">
		{{#each commentFind}}
			<div>
				{{author}}
			</div>
			<div>
				{{comment}}
			</div>
		{{/each}}
	</div>
	{{#if currentUser}}
		<form class="sendComment">
			<h4>Submit a Comment</h4>
			<textarea name="comments"></textarea>
			<button>Submit Comment</button>
		</form>
	{{/if}}
	


</template>