<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
</head>

<template name="details">
<div class="add-item-container">
	<div class="topHeader">
		<a href={{backButton}}><span class="backButton glyphicon glyphicon-menu-left"></span></a>
		<h1 class="restaurantTitle">{{name}}</h1>
	</div>

	<div class="add-item-box-inner">
		<img src={{image}} />

		<p>
			{{rating}}
		</p>
		<p>
			{{price}} AED
		</p>
		<div>
			Category: {{category}}
		</div>


		<div>
			Description: {{description}}
		</div>

		<div class="displayComments">
			{{#each commentFind}}
				<div>
					{{author}}
				</div>
				<div>
					{{comment}}
				</div>
			{{/each}}
		</div>
		{{#if currentUser}}
			<form class="sendComment">
				<h4>Submit a Comment</h4>
				<textarea name="comments"></textarea>
				<button>Submit Comment</button>
			</form>
		{{/if}}
	</div>
</div>


</template>
