<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-startup-image" href="/startup.png">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<title>Served</title>
</head>

<template name="feed">
	{{> feedNearby}}
	<div class="container-fluid">
		<div class="row">

			<h1 class="restaurantTitle">{{restaurantSelector}}</h1>

			<a href={{addItem}}>
				<div class="addItem_holder">
					<div class="addItem_holderInside">
							<div><span class="glyphicon glyphicon-plus"></span></div>
					</div>
				<div class="textHolder">
					<p class="TextForAddNew">Add New Item</p>
				</div>
			</div>
		</a>
			<ul>
				{{#each item}}
					{{> food}}
				{{/each}}
			</ul>

			<footer>
				<div id = "vegetarian" class = "filterOff">
					vegetarian
				</div>
				<div id = "halal" class = "filterOff" >
					halal
				</div>
				<div id = "price" class="filterOff">
					price
				</div>
			</footer>

		</div>
	</div>
</template>

<template name="food">
	<li>
		<div class="ratings">
			<div class="voteUp"><span class="glyphicon glyphicon-chevron-up"></span></div>
			<div>{{rating}}</div>
			<div class="voteDown"><span class="glyphicon glyphicon-chevron-down"></span></div>
		</div>
		<a href={{detailedItem}}>
		<div class="textHolder">
			<p class="nameOfItem">{{name}}</p>
			<p class="priceOfItem">{{price}} AED</p>
			<p class="descriptionOfItem">{{description}}</p>
		</div>
		</a>
	</li>
</template>
