<head>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title>Served</title>
</head>


<template name="feed">
	<div class="container-fluid">
		<div class="row">

	<footer>
			<h1>{{restaurantSelector}}</h1>
			<a href={{addItem}}>+ add menu item</a>
			<ul>
				{{#each item}}
					{{> food}}
				{{/each}}
			</ul>

			<footer>
				<div id = "vegetarian" class = true>
					vegetarian
				</div>
				<div id = "halal" class = false >
					halal
				</div>
				<div class="filter">
					price
				</div>
			</footer>
			
		</div>
	</div>
</template>

<template name="food">
	<li>
		<a href={{detailedItem}}>{{name}}</a>
		<div class="ratings">
			<div class="voteUp">VOTEUP</div>
			<div class="voteDown">VOTEDOWN</div>
			{{rating}}
		</div>
		{{price}}
	</li>
</template>
