<template name="feed">
	<h1>{{restaurantSelector}}</h1>
	<a href="/addItem">+ add menu item</a>
	<ul>
		{{#each item}}
			{{> food}}
		{{/each}}
	</ul>

	<footer>
		<div class="filter">
			All
		</div>
		<div class="filter">
			Top Ranked
		</div>
		<div class="filter">
			Vegetarian
		</div>
	</footer>
</template>

<template name="food">
	<li>
		{{name}}
		<div class="ratings">
			<div class="voteUp">VOTEUP</div>
			<div class="voteDown">VOTEDOWN</div>
			{{rating}}
		</div>
		{{price}}
	</li>
</template>