/* CSS declarations go here */


body {
	background-color: #cccccc;
}

.filter {
	width: 150px;
	height: 50px;
	background-color: blue;
	display: inline-block;
	margin: 5px;
}

.ratings {
	display:inline-block;
	width:10%;
	padding:0 10px 0 10px;
	float:left;
}

.textHolder {
	display:inline-block;
	width:90%;
	padding-top: 5px;
}

.textHolder a {
	font-size: 27px;
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
}

.priceOfItem {
	float:right;
}

.descriptionOfItem {
	font-size:12px;
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
}


span.glyphicon-chevron-up, span.glyphicon-chevron-down {
	font-size: 18px;
}

.voteUp {

	background-color: none;
}

.voteDown {
	background-color: none;
}

.container-fluid .row {
	background-color:#cccccc;
}

.row ul {
	list-style-type: none;
	padding-left: 0;
}

.row ul li {

	margin-bottom:1px;
}

.row ul li, .addItem_holder{
	padding-top:12px;
	width:95%;
	height:90px;
	margin-left:auto;
	margin-right:auto;
	border-bottom:2px solid #ffffff;

	font-family: 'Nunito', sans-serif;
	letter-spacing: 0.5px;
}

.center-block {
  display: block;
  margin-left: 8%;
  margin-right: 8%;
}
