/* CSS declarations go here */

body {
	background-color: rgb(234, 234, 234)
}

.filter {
	width: 150px;
	height: 50px;
	background-color: blue;
	display: inline-block;
	margin: 5px;
}

.ratings {

}

span.glyphicon-chevron-up span.glyphicon-chevron-down {
	font-size: 100px;
}

.voteUp {

	background-color: gray;
}

.voteDown {
	width: 30px;
	height: 30px;
	background-color: gray;
}

.container-fluid .row {
	background-color:#cccccc;
}

.row ul {
	list-style-type: none;
	padding-left: 0;
}

.row ul li {

	margin-bottom:1px;
}

.row ul li, .addItem_holder{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	border-bottom:5px solid #ffffff;

	font-family: 'Nunito', sans-serif;
	letter-spacing: 0.5px;
}
